* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: block;
}

#header {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(46, 27, 215);
}

h1 {
    padding-left: 40%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#searchSection {
    margin-right: 80%;
    padding-left: 5px;
}

label {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#searchCity {
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    padding: 5px 25px;
    border-radius: 2px;
}

#searchBtn {
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    padding: 7px 87px;
    border-radius: 2px;
    background-color: rgb(92, 169, 224);

}

#currentForecast {
    margin-left: 22%;
    margin-top: -13%;
    padding-bottom: 15%;
}

#daysForecast {
    margin-left: 22%;
    padding-top: 10px;
}

#fiveDayForecastContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 22%;
}

.card {
    width: 12rem;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: blue;
    /* color: white; */
}
